<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Homease</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">
            <span>Dashboard</span>
            <!-- <mat-menu #menu="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu> -->
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <span  [matMenuTriggerFor]="user">Users</span>
            <mat-menu #user="matMenu">
              <button mat-menu-item routerLink="/all-users">All Users</button>
              <button mat-menu-item routerLink="/userorders">Orders</button>
              <button mat-menu-item routerLink="/adminBill">Print</button>
            </mat-menu>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <span  [matMenuTriggerFor]="employee">Employee</span>
            <mat-menu #employee="matMenu">
              <button mat-menu-item routerLink="/allemployee">All Employee</button>
              <button mat-menu-item routerLink="/employeeorders">Employee Orders</button>
              <button mat-menu-item routerLink="/addemployee">Add Employee</button>
            </mat-menu>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <span  [matMenuTriggerFor]="inventory">Inventory</span>
            <mat-menu #inventory="matMenu">
              <button mat-menu-item routerLink="/inventory">Inventory</button>
              <button mat-menu-item routerLink="/addfruits">Add Fruits</button>
              <button mat-menu-item routerLink="/addvegetables">Add Vegetables</button>
              <button mat-menu-item routerLink="/adddairy">Add Dairy</button>
            </mat-menu>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/status">
            <span>Delivery status</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/finalbill">
            <span>Order History</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/societydata">
            <span>Society</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/offer">
            <span>Offer notification</span>
          </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search"> -->
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
     <!--   <mat-icon>notifications</mat-icon>
        <mat-icon>notifications_paused</mat-icon> -->
        <button mat-menu-item color="warn" (click)="logout()">Logout</button>
    </form>
    </div>
  </nav>


