<form novalidate #myform="ngForm">
    <div class="form-group">
      <!-- <input class="form-control" id="id" type="number" [(ngModel)]="id" name="id" required> -->
      <input class="form-control" id="id" type="number" name="id" required>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-around">
      <!-- <button class="btn btn-primary btn-sm btn-block" (click)="login(myform)">Search</button> -->
      <button class="btn btn-primary btn-sm btn-block">Search</button>
      <hr>
    </div>
  </form>
