<div class="container">
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#ffffff" type = "timer" [fullScreen] = "true"></ngx-spinner>

  <div class="float-right mt-2 mb-2">
    <button type="button" mat-raised-button class="float-right mt-2 ml-4 mb-2" color="primary" data-toggle="modal" data-target="#update">Update</button>

  <!-- Modal -->
  <div class="modal fade" id="update" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
           <h4 class="modal-title">Select society & new name</h4>
          <button type="button" #closebuttonupdate class="close" data-dismiss="modal">&times;</button>
         
        </div>
        <div class="modal-body justify-content-center">
            <form [formGroup]="update">
             <div class="form-group">
                Select society name 
               <select class="form-control" formControlName="society_id">
                   <option default>SELECT SOCIETY NAME</option> 
                  <option *ngFor="let p of datasource"  value="{{p.id}}">{{p.society_name}}</option>
                </select>
              </div>
            <div class="form-group">
              Insert new society name <br>
                <input class="form-control" formControlName="society" type="text" name="" id="" placeholder="NEW NAME">
              </div>
          </form>
          
        </div>
        <div class="modal-footer">
          <button type="button" [disabled]="!update.valid" class="btn btn-danger" id="closeModal"  (click)="onUpdate()">submit</button>
         </div> 
      </div>
    </div>
  </div>
  </div>
  <div class="float-right mt-2 mr-2 mb-2" style="margin-left: 10px;">
     <button type="button" mat-raised-button class="float-right mt-2 ml-4 mb-2" color="primary" data-toggle="modal" data-target="#insert">Insert</button>

  <!-- Modal -->
  <div class="modal fade" id="insert" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
           <h4 class="modal-title">Insert name and select image</h4>
          <button type="button" #closebuttoninsert class="close" data-dismiss="modal">&times;</button>
         
        </div>
        <div class="modal-body justify-content-center">
            <form [formGroup]="insert">
           <div class="form-group">
              Insert new society name <br>
                <input class="form-control" formControlName="society" type="text" name="" id="" placeholder="NEW NAME">
              </div>
          </form>
          
        </div>
        <div class="modal-footer">
          <button type="button" [disabled]="!insert.valid" class="btn btn-danger" id="closeModal"  (click)="onInsert()">submit</button>
         </div> 
      </div>
    </div>
  </div>
  </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">S.No</th>
          <th scope="col">Society name</th>
          <!-- <th scope="col"></th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of datasource;let i=index;">
          <th scope="row">{{i+1}}</th>
          <td>{{s.society_name}}</td>
          <!-- <td></td> -->
        </tr>
      </tbody>
    </table>
    </div>
    <!-- *ngFor="let p of datasource" -->