.example-card{
    width: 250px;
    height: 100px;
}
mat-icon{
    font-size: xx-large;
}
span{
    font-size: xx-large;
}
mat-card{
    background-color: cornflowerblue;
    color: antiquewhite;
}
.diffcolor{
    background-color: coral;
    color: antiquewhite;
}