<div class="container mt-4">
<!-- <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="form-group">
                 <h2>INVOICE</h2>
                </div>
             </div>
   </div> -->
      <div class="col-12">
        <!-- <div class="alert alert-danger" [hidden]="!hasError"> -->
          <!-- {{ errorMessage }} -->
        <!-- </div> -->
        <!-- <div class="alert alert-success" [hidden]="!success"> -->
          <!-- {{ errorMessage }} -->
        <!-- </div> -->
      </div>
  <form role="form" [formGroup]="deliveryForm" (ngSubmit)="onSubmit()">
      <div class="row ">
          <div class="col-12">
        <!-- <form role="form" [formGroup]="deliveryForm" (ngSubmit)="onSubmit()"> -->
            <div class="col-12 d-flex justify-content-center">
                <h2 for="" class="font-weight-bold">Customer Details</h2>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" formControlName="name" placeholder="John Doe" id="name" type="text" readonly>
            </div> <!-- form-group ends here -->
        
        
            <div class="form-group">
                <label for="contact">Contact </label>
                <input class="form-control" formControlName="mobile" placeholder="089444052" id="contact" type="number" readonly>
            </div> <!-- form-group ends here -->
        
        
        
            <div class="form-group">
                <label for="address"> Address</label>
                <input class="form-control" formControlName="address" placeholder="B-22 Atrium Building, Block 3" id="address"
                    type="text" readonly>
            </div>
        
            <div class="form-group">
                <label for="orderId">Order Id</label>
                <input class="form-control" formControlName="id" placeholder="AXT222" id="orderId" type="text" readonly>
            </div>
        
            <!-- <div class="form-group">
                <label for="total">Total</label>
                <input class="form-control" formControlName="total" placeholder="999" id="total" type="number" readonly>
            </div> -->
        <div class="row">
            <div class="col">
            <div class="table-responsive-sm">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="center">Check Approve</th>
                            <th>Products</th>
                            <th class="center">Quantity</th>
                            <th>Weight</th>
                            <th>User Notes</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let p of chk;let i of prod;let d=index">
                        <tr>
                            <td class="center">{{d+1}}</td>
                            <td><input type="checkbox" [checked]="p.c" (change)="onChecked(p,$event)"></td>
                            <td class="left strong">{{p.products}}</td>
                            <td class="center">{{p.quantityOrdered}}</td>
                            <td>{{p.packet > 999 ? (i.packet/1000) : p.packet}} {{p.packet > 999 ? "kg" : p.type}}</td>
                            <td>{{p.userNotes}}</td>
                     
                            <!-- <td><div class="example-button-container">
                                <button mat-fab color="warn" type="submit" aria-label="Delete" value="{{p.id}}" (click)="delete(p)">
                                  <mat-icon>delete</mat-icon>
                                </button>
                              </div></td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    
</div>
<div class="row">
    <div class="col-12">
        <button type="submit" class="btn btn-primary btn-lg btn-block my-4">
            Update
        </button>
    </div>
</div>
</form>
</div>