<div class="container">
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#ffffff" type = "timer" [fullScreen] = "true"></ngx-spinner>

<div class="float-right mt-2 mb-2 mr-4">
     <button type="button" mat-raised-button class="float-right mt-2 ml-4 mb-2" color="primary" data-toggle="modal" data-target="#addCarousel">Upload image</button>

  <!-- Modal -->
  <div class="modal fade" id="addCarousel" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
           <h4 class="modal-title">Insert name and select image</h4>
          <button type="button" #closebutton class="close" data-dismiss="modal">&times;</button>
         
        </div>
        <div class="modal-body justify-content-center">
            <form [formGroup]="addCarousel">
           <div class="form-group">
                    <input type="text" formControlName="name" name="name" placeholder="Image Name" class="form-control">
                  </div>
                <div class="form-group">
                <input type="file" name="image" formControlName="image" (change)="selectImage($event)" placeholder="Image" class="form-control-file">
              </div>
          </form>
          
        </div>
        <div class="modal-footer">
          <button type="button" [disabled]="!addCarousel.valid" class="btn btn-danger" id="closeModal"  (click)="photo()">submit</button>
         </div> 
      </div>
    </div>
  </div>
  </div>
<br>
<p>Note : width = 930px and height = 250px</p>
  <!-- Fetched Image -->
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">S.no</th>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Operation</th>
      </tr>
    </thead>
    <tbody *ngFor="let p of datasource;let i=index">
      <tr>
        <th scope="row">{{i+1}}</th>
        <td>{{p.imageName}}</td>
        <td><img src="{{apiURL}}{{p.image}}" alt="no image" width="200px"></td>
        <td><button mat-raised-button color="warn" type="button" (click)="delete(p)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>