<div class="container">
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#ffffff" type = "timer" [fullScreen] = "false"></ngx-spinner>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Mobile</th>
        <th scope="col">Address</th>
        <th scope="col">Joined on</th>
        <th scope="col">Operation</th>
      </tr>
    </thead>
    <tbody *ngFor="let p of datasource">
      <tr>
        <th scope="row">{{p.id}}</th>
        <td>{{p.name}}</td>
        <td>{{p.mobile}}</td>
        <td>{{p.address}}</td>
        <td>{{p.date | date :'dd-MMM-yy h:mm:ss a'}}</td>
        <td>
          <button mat-raised-button color="warn" type="button" (click)="delete(p)">Delete</button>
          <!-- <form [formGroup]="delete" (ngSubmit)="onDelete()"> -->
          <!-- Button trigger modal -->
          <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Delete
          </button> -->

          <!-- Modal -->
          <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Insert mobile number</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <input type="text" formControlName="mobile" name="mobile" id="">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>
          </div> -->
        <!-- </form> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>