.fa{
    font-size: 5em;
   /*  border-radius:50%;
    background-color: #31309c;
    color: white; */
}
.fa-star{
    color: yellow;
}
.fa-refresh{
    color: green;
}
.fa-phone{
    color:blue;
}
.fa-truck{
    color: orangered;
}
.shop-img{
    height: 200px;
}
.shop-body .fa{
    font-size:2em;
}
.category-wrap{
    margin-bottom: 20px;
    margin-top: 20px;
    height: 250px;
    width: 100%;
}
.category-wrap-2{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}
.img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.ftco-category .category-wrap .text {
    background: #82ae46;
}
.btn.btn-primary {
    background: #82ae46;
    border: 1px solid #82ae46;
    color: #fff;
}
.btn .fa{
    font-size: xx-large;
}
.btn-success{
    width: 100%;
}
.example-card button{
    background-color: forestgreen;
    color: ghostwhite;
    width: 100%;
}