h1{
    color:white;
}
.btn-secondary{
    background-color: #343a40;
}
.cart-dropdown {
    opacity: 1;
    visibility: visible; 
}
.dropdown{
    float: right;
}
.navbar-brand{
    font-size: 40px;
}
mat-icon{
    color: ghostwhite;
}
.dropdown-menu{
    background-color: snow;
}
.dropdown-item{
    width: fit-content;
}